@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    list-style-type: none;
    text-decoration: none;
}

.backColor {
    overflow: hidden;
    position: relative;
}

/**
.container-fluid {

}
**/

.container {
    width: 80%;
    margin: 0px auto;
}

.header {
    background: #ffffff;
    padding: 10px 0px;
    box-shadow: -8px 9px 15px -9px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.logo a {
    color: #000000;
    font-weight: bold;
}

nav ul {
    display: flex;
    margin: 0px auto;
}

nav ul li {
    padding: 0px 20px;
}

nav ul li a {
    color: #231f1b;
    text-decoration: none;
}

nav ul li a:hover {
    padding: 10px 0;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    transform: translateY(-2px);
    border-bottom: 3px solid #ffd500;
}

.btn-don {
    background: #FFD500;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.btn-don a {
    color: #000000;
    text-decoration: none;
}

/** Banners ************/
.banner {
    position: relative;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./public/assets/img/background.jpg"), linear-gradient(125deg, #2c1c00, #230100);
    background-size: cover;
    background-position: center;
}

.banner-content .bannerNotice {
    padding: 10px 0px;
    text-align: center;
    color: #ffd500;
    font-weight: bold;
}

.banner-content h1 {
    padding: 0px 0;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    color: #ffffff;
}

.banner-content p {
    text-align: center;
    color: #ffffff;
}

.btnBanner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBanner a {
    background: #FFD500;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/** AboutContent **/
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;  
}

.contentAbout img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.contentAbout h2 {
    padding: 50px 0px;
    font-weight: bold;
    font-size: 2em;
}
.contentAbout p {
    text-align: justify;
}


/** Services **/
.Services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}

.contentServices img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contentServices h2 {
    padding: 50px 0px;
    font-weight: bold;
    font-size: 2em;
}

.contentServices p {
    text-align: justify;
    margin-bottom: 20px;
}

/** controlForm *********/
.controlForm {
    margin: auto;
    width: 75%;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    border: 1px solid #454545;
}

