@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    list-style-type: none;
    text-decoration: none;
}

.backColor {
    overflow: hidden;
    position: relative;
}

/***** container section ********/
.container {
    width: 80%;
    margin: 0 auto ;
}

/***** header section ***********/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10em;
    height: 70px;
    position: relative;
    background-color: #ffecec;
}

nav .logo {
    color: #ff0000;
    font-weight: bold;
}

nav ul {
    display: flex;
    column-gap: 25px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: #ff0000;
    animation: infinite;
    transition: 0.5s ease-in-out cubic-bezier(0.19, 1, 0.22, 1);
}

nav ul li a:hover {
    font-weight: bold;
    border-bottom:3px solid #ff0000;
    transition: 0.10s ease-in;

}

.btnContact a {
    background: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding: 10px 23px;
    color: #ffffff;
}

/***** btnToogle ************/
.btnToggle {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.ligne {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #ff0000;
}

.btnToggle .ligne:nth-child(1) {
    top:15px
}

.btnToggle .ligne:nth-child(2) {
    top:30px
}


/** Banners ************/
#banner {
    position: relative;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(1, 4, 23, 0.79), rgb(1, 1, 5)), url("/public/assets/img/engineering.jpg");
    background-size: cover;
    background-position: center;
}

#banner .bannerNotice {
    padding: 10px 0px;
    text-align: center;
    color: #ff0000;
    font-weight: bold;
}

#banner h1 {
    padding: 0px 0;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    color: #ffffff;
}

#banner p {
    text-align: center;
    color: #ffffff;
}

.btnBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.btnBanner a {
    background: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/** AboutContent **/
#about .aboutCarousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px; 
}

#about h2 {
    padding: 35px 0;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
}

.aboutCarousel-Items h3 {
    padding: 50px 0;
    font-weight: bold;
    font-size: 1.3em;
    color: #000000;
}

.aboutCarousel-Items i {
    color: #ff0000;
    font-size: 1.1em;
}

.aboutCarousel-Picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/** Services **/
#services {
    padding: 35px 0;
    background: #f5f5f6;
}

#services .serviceContent {
    display: grid;
    grid-template-areas:  
        'itemServices_1 itemServices_2 itemServices_2'
        'itemServices_1 itemServices_3 itemServices_4'
        'itemServices_1 itemServices_3 itemServices_4';  
    grid-gap: 20px;
    padding: 20px 0px;
    margin-bottom: 30px;
    height: 50vh                                                                                              ;
}
.itemServices_1 {
    grid-area: itemServices_1;
    background: #ffffff;
    padding: 20px 0px;
}

.itemServices_1 h3{
    color: #FFD500;
    margin-left: 20px;
    font-size: 1.1rem;
}

.itemServices_2 {
    grid-area: itemServices_2;
    background: #ffffff;
}
  
.itemServices_3 {
    grid-area: itemServices_3;
    background: #ffffff;
}
  
.itemServices_4 {
    grid-area: itemServices_4;
    background: #ffffff;
}


/** controlForm *********/
.controlForm {
    margin: auto;
    width: 75%;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    border: 1px solid #454545;
}

/** controlForm *********/
.blockContact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 40px 0;
}

.blockContactItems h1 {
    font-weight: bold;
    font-size: 1.2em;
    color: #000000;
}

.blockContactItems p {
    padding: 20px 0;
}

.blockContactItems .socialMedia {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 0;
}
.blockContactItems .socialMedia a {
    color: #000000;
    font-size: 1em;
}

.blockContactItems .socialMedia i {
    color: #ff0000;
}

#formContainer {
    padding: 5px;
    border: 1px solid #dadada;
    border-radius: 5px;
    background-color: #f2f2f2cc;
    box-shadow: 0px 8px 12px 0px rgba(82, 82, 82, 0.2);
}

.formContent {
    width: auto;
    margin: auto;
    padding: 2px 20px;
}
.block0 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.block0 label {
    padding: 20px 0;
}

.block0 input {
    width: 100%;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: #ff0000;
}

.block1 {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

.block1 label {
    padding: 10px 0;
}

.block1 input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: #ff0000;
}

.block2 {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.block2 textarea {
    width: 100%;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: #ff0000;
}


.block3 {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.block3 input[type=submit]{
    padding: 22px 5px;
    border: 1px solid #ccc;
    background: #ff0000;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 1s ease-in-out;
    animation: alternate;
}

.block3 input[type=submit]:hover {
    background: #000000;
    color: #ff0000;
}

/******* bannerContact ********/

#bannerContact {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(1, 4, 23, 0.79), rgb(1, 1, 5)), url("/public/assets/img/contact.jpg");
    background-size: cover;
    background-position: center;
}
#bannerContact h1 {
    color: #ff0000;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
#bannerContact p {
    color: #ffffff;
    text-align: center;
    font-size: 1.1em;
}
.bannerContact a {
    display: inline-block;
    margin: 0 480px;
    margin-bottom: 20px;
    color: #ff0000;
    border: 1px solid #fff;
    background: #000000;
    padding: 2px 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1.5s ease-in-out;
}

.bannerContact a:hover {
    color: #fff;
    border: 1px solid #ff0000;
}

.bannerContact i {
    color: #ffd500;
}

/******** Accompagnemement *******/
#accompProject {
    position: relative;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #ff0000, #ff0808), url("/public/assets/img/accomplishment.jpg");
    background-size: cover;
    background-position: center;
}

.accompContent {
    text-align: center;
    font-size: 1.1em;
}

.accompContent h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.accompContent p {
    margin-bottom: 30px;
    color: #ffffff;
}

.btnAccomp a {
    display: inline-block;
    color: #ff0000;
    background: #ffffff;
    font-weight: bold;
    padding: 10px 19px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1.5s ease-in-out;
}






/****** @media query **********/

@media only screen and (max-width: 600px) {
    /* Style adjustments for screens smaller than 600px */
    nav {
        padding: 10px 30px;  
    }
    
    nav ul {
        padding: 5px 0;
        position: absolute;
        top: 70px;
        height: 130px;
        right: 0;
        left: 0;
        flex-direction: column;
        row-gap: 22px;
        background: #ff0000;
        z-index: 9999;
    } 
    nav ul li a {
        margin: 30px;
        color: #ffffff;
    }  
    nav ul li a:hover {
        font-weight: bold;
        border-bottom:3px solid #ffffff;
    }

    /***** btnContact ******/
    .btnContact a {
        display: none;
        background: #ff0000;
        border: 1px solid #ff0000;
        border-radius: 5px;
        padding: 10px 23px;
        color: #ffffff;
    }
    /***** btnToogle ********/
    .btnToggle {
        height: 50px;
        width: 50px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 